<!DOCTYPE html>
<html lang="en">

<!-- Hedaer-->
<%- include('layouts/header')-%>

    <head>
        <title>Login</title>
    </head>

    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar')-%>
            <!-- Page Header-->
            <header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="page-heading">
                                <h1>Login</h1>
                                <span class="subheading">Under construction</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main Content-->
            <main class="mb-4">

                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#loginForm"
                            type="button" role="tab" aria-controls="login" aria-selected="true">Login</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signupform"
                            type="button" role="tab" aria-controls="signup" aria-selected="false">Sign Up</button>
                    </li>
                </ul>

                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="my-5 tab-content">

                                <% if(typeof error !='undefined' ) { %>
                                    <div class="alert alert-warning alert-dismissible fade show">
                                        <%= error %>
                                    </div>
                                    <% } %>

                                        <!-- Form starts-->
                                        <form class="tab-pane fade show active" id="loginForm"
                                            action="/AuthenticateUser" method="POST" data-sb-form-api-token="API_TOKEN">
                                            <!-- User Name Field-->
                                            <div class="form-floating">
                                                <input class="form-control" id="username" name="username" type="text"
                                                    placeholder="Enter your user name..."
                                                    data-sb-validations="required,username" />
                                                <label for="username">User Name</label>
                                                <div class="invalid-feedback" data-sb-feedback="username:required">An
                                                    user name
                                                    is
                                                    required.
                                                </div>
                                                <div class="invalid-feedback" data-sb-feedback="username:username">User
                                                    Name is
                                                    not valid.
                                                </div>
                                            </div>
                                            <!-- Password Field-->
                                            <div class="form-floating">
                                                <input class="form-control" id="password" name="password"
                                                    type="password" placeholder="Enter your password..."
                                                    data-sb-validations="required,password" />
                                                <label for="password">Password</label>
                                                <div class="invalid-feedback" data-sb-feedback="password:required">An
                                                    password
                                                    is
                                                    required.
                                                </div>
                                            </div>
                                            <br />
                                            <!-- Submit Button-->
                                            <button class="btn btn-primary text-uppercase" id="submitButton"
                                                type="submit">Login</button>
                                        </form>
                                        <form class="tab-pane fade" id="signupform" action="/SaveLogin" method="POST"
                                            data-sb-form-api-token="API_TOKEN">
                                            <!-- User Name Field-->
                                            <div class="form-floating">
                                                <input class="form-control" id="username" name="username" type="text"
                                                    placeholder="Enter your user name..."
                                                    data-sb-validations="required,username" />
                                                <label for="username">User Name</label>
                                                <div class="invalid-feedback" data-sb-feedback="username:required">An
                                                    user name
                                                    is
                                                    required.
                                                </div>
                                                <div class="invalid-feedback" data-sb-feedback="username:username">User
                                                    Name is
                                                    not valid.
                                                </div>
                                            </div>
                                            <!-- Password Field-->
                                            <div class="form-floating">
                                                <input class="form-control" id="password" name="password"
                                                    type="password" placeholder="Enter your password..."
                                                    data-sb-validations="required,password" />
                                                <label for="password">Password</label>
                                                <div class="invalid-feedback" data-sb-feedback="password:required">An
                                                    password
                                                    is
                                                    required.
                                                </div>
                                            </div>
                                            <!-- Confirm Password Field-->
                                            <div class="form-floating">
                                                <input class="form-control" id="confirmpassword" name="confirmpassword"
                                                    type="confirmpassword" placeholder="Enter your password..."
                                                    data-sb-validations="required,confirmpassword" />
                                                <label for="confirmpassword">Confirm Password</label>
                                                <div class="invalid-feedback"
                                                    data-sb-feedback="confirmpassword:required">An
                                                    confirm password
                                                    is
                                                    required.
                                                </div>
                                            </div>
                                            <div class="form-floating">
                                                <select id="usertype" name="usertype" class="form-select">
                                                    <option value="Driver">Driver</option>
                                                    <option value="Examiner">Examiner</option>
                                                    <option value="Admin">Admin</option>
                                                </select>
                                                <label for="usertype">User Type</label>
                                                <div class="invalid-feedback" data-sb-feedback="usertype:required">An
                                                    usertype
                                                    is
                                                    required.
                                                </div>
                                            </div>
                                            <br />
                                            <!-- Submit Button-->
                                            <button class="btn btn-primary text-uppercase" id="submitButton"
                                                type="submit">Sign
                                                Up</button>
                                        </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Footer-->
            <%- include('layouts/footer')-%>
                <!-- Scripts-->
                <%- include('layouts/scripts')-%>
    </body>

</html>