


<!DOCTYPE html>

<html lang="en">



<%- include('layouts/header.ejs'); -%>


                <body>


                    
                    <!-- Navigation-->
                    
                    <%- include('layouts/navbar.ejs'); -%>

                    
                    <!-- Page Header-->
                    
                    <header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
                    
                        <div class="container position-relative px-4 px-lg-5">
                    
                            <div class="row gx-4 gx-lg-5 justify-content-center">
                    
                                <div class="col-md-10 col-lg-8 col-xl-7">
                    
                                    <div class="page-heading">
                                            <h1>G Test</h1>
                    
                                            <span class="subheading">You can book your G Test.</span>
                    
                                            <% if(typeof personalDetail !='undefined' ) { %>
                    
                                                <span class="subheading">User Data</span>
                    
                                                <% } else { %>
                    
                                                    <span class="subheading">No User Data Found</span>
                    
                                                    <% } %>
                    
                                                </div>
                    
                                            </div>
                    
                                        </div>
                    
                                    </div>
                    
                                </header>
                    
                                
                        <!-- Main Content-->
                        <main cl
                        ass="mb-4">


                        
                        <div class="container px-4 px-lg-5">
                        
                            <div class="row gx-4 gx-lg-5 justify-content-center">
                        
                                <div class="col-md-10 col-lg-8 col-xl-7">
                        
                                    <p>DriveTest Information</p>
                        
                                    <div class="my-5">
                        
                                        <% if(typeof error !='undefined' ){%>
                        
                                            <div class="form-floating">
                        
                                                <%= error %>
                        
                                            </div>
                                                <% } %>


                                                
                                                <% if(typeof user !='undefined' ){%>


                                                    
                                                    <form id="contactForm" action="/g/displayData" method="POST"
                                                    
                                                    data-sb-form-api-token="API_TOKEN">
                                                    
                                                    <div class="form-floating">
                                                    
                                                        <h3>Personal Details</h3>
                                                            </div>
                            

                                                            
                                                            <div class="form-floating">
                                                            
                                                                <input class="form-control" id="firstname"
                                                            
                                                                value="<%= user.firstname %>" name="firstname" type="text"
                                                            
                                                                placeholder="Enter your firstname..."
                                                            
                                                                data-sb-validations="required" readonly />
                                                            
                                                                <label for="firstname">First Name</label>
                                                            
                                                                <div class="invalid-feedback" data-sb-feedback="name:required">A
                                                                    firstname is required.</div>
                                                            
                                                                </div>
                            

                                                            <div
                                                             class="form-floating">
                                                            
                                                             <input class="form-control" id="lname" value="<%= user.lastname %>"
                                                            
                                                             name="lastname" type="text" placeholder="Enter your lastname..."
                                                            
                                                             data-sb-validations="required" readonly />
                                                            
                                                             <label for="lastname">Last Name</label>
                                                            
                                                             <div class="invalid-feedback" data-sb-feedback="name:required">A
                                                            
                                                                lastname is required.</div>
                                                            </div>
                            

                                                            
                                                            <div class="form-floating">
                                                            
                                                                <input class="form-control" id="license"
                                                            
                                                                value="<%= user.license_no %>" name="license_no" type="text"
                                                            
                                                                placeholder="Enter your licence number..."
                                                            
                                                                data-sb-validations="required" readonly />
                                                            
                                                                <label for="licence">License Number</label>
                                                            
                                                                <div class="invalid-feedback" data-sb-feedback="name:required">A
                                                                    licence number is required.</div>
                                                            
                                                                </div>
                            

                                                            <div
                                                             class="form-floating">
                                                            
                                                             <input class="form-control" id="age" value="<%= user.age %>"
                                                            
                                                             name="age" type="number" placeholder="Enter your age..."
                                                            
                                                             data-sb-validations="required" readonly />
                                                            
                                                             <label for="age">Age</label>
                                                            
                                                             <div class="invalid-feedback" data-sb-feedback="name:required">Age
                                                                    is required.</div>
                                                            
                                                                </div>
                            

                                                            <div
                                                             class="form-floating">
                                                            
                                                             <input class="form-control" id="dob" value="<%= user.dob %>"
                                                            
                                                             type="text" name="dob" placeholder="Enter your birth date..."
                                                            
                                                             data-sb-validations="required" readonly />
                                                            
                                                             <label for="dob">Birth Date</label>
                                                                <div class="invalid-feedback" data-sb-feedback="name:required">A
                                                            
                                                                    Birth_date is required.</div>
                                                            
                                                                </div>
                            

                                                            <div
                                                             class="form-floating">
                                                            
                                                             <h3>Car Details</h3>
                                                            
                                                            </div>
                            

                                                            
                                                            <div class="form-floating">
                                                                <input class="form-control" id="make"
                                                            
                                                                value="<%= user.car_details.make %>" type="text" name="make"
                                                            
                                                                placeholder="Enter your maker name..."
                                                            
                                                                data-sb-validations="required" readonly />
                                                            
                                                                <label for="make">Make</label>
                                                            
                                                                <div class="invalid-feedback" data-sb-feedback="name:required">A
                                                            
                                                                    m_name is required.</div>
                                                            
                                                                </div>
                            
                                                            
                                                                <div class="form-floating">
                                                            
                                                                    <input class="form-control" id="model"
                                                            
                                                                    value="<%= user.car_details.model %>" name="model" type="text"
                                                            
                                                                    placeholder="Enter your model..." data-sb-validations="required"
                                                            
                                                                    readonly />
                                                            
                                                                    <label for="model">Model</label>
                                                            
                                                                    <div class="invalid-feedback" data-sb-feedback="name:required">A
                                                                    Model_N required.</div>
                                                            
                                                                </div>
                            

                                                            <div
                                                             class="form-floating">
                                                            
                                                             <input class="form-control" id="year"
                                                                    value="<%= user.car_details.year %>" name="year" type="number"
                                                            
                                                                    placeholder="Enter Year..." data-sb-validations="required"
                                                                    readonly />
                                                                <label for="year">Year</label>
                                                                <div class="invalid-feedback" data-sb-feedback="name:required">A
                                                                    Year's is required.</div>
                                                            </div>
                            
                                                            <div class="form-floating">
                                                                <input class="form-control" id="platnumber"
                                                                    value="<%= user.car_details.platno %>" name="platno" type="text"
                                                                    placeholder="Enter your firstname..."
                                                                    data-sb-validations="required" readonly />
                                                                <label for="platnumber">Plat Number</label>
                                                                <div class="invalid-feedback" data-sb-feedback="name:required">A
                                                                    plat_N is required.</div>
                                                            </div>
                            
                                                            <br />
                                                            <% 
                                                        }
                                                        
                                                        %>
                            
                                                        </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </main>
                        <!-- Footer-->
                        <%- include('layouts/footer.ejs'); -%>

                            <!-- Scripts  -->
                            <%- include('layouts/script.ejs'); -%>

                </body>

            </html>